body{
  background: rgb(255,255,255);
  background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,193,249,0.7175245098039216) 35%, rgba(244,156,255,1) 100%);
}

.users{
    margin: auto;
  position: relative;
  width: 20%;
  border: 3px solid #FA4EAB;
  padding: 10px;
  font-family: Verdana, sans-serif;
  background: #FE83C6;
  border-radius: 10px;
  box-shadow: 1px 1px 20px #323232;
}
img{
  box-shadow: 1px 1px 20px #323232;
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}


h1{
  text-align: center;
}

p{
  text-align: center;
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
  box-shadow: 1px 1px 10px #323232;
}


input[type=password], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
  box-shadow: 1px 1px 10px #323232;
}

input[type=submit]{
  background-color: #FFF2F9; 
  border: none;
  color: #323232;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  width: 100%;
  box-shadow: 1px 1px 10px #323232;
}


hr {
  border: 3px solid black;
  border-radius:10px;
}



h5{
   text-align: center;

}

.NameLocation{
  line-height: 20%;
}


.JobUni{
  margin: auto;
  background: #FA4EAB;
  border-radius: 50px;

}

.hobbies{
  margin: auto;
  background:  #ffccff;
  border-radius: 50px;

}
